@page "/day02"
@rendermode InteractiveServer
@inherits DayBase<Day02, Day02.Game[]>

<PageTitle>Day 02</PageTitle>

<h1>Day 02</h1>
<h3>Input</h3>
<textarea @oninput="HandleInputChange" rows="10">@InputData</textarea>

<h3>Part 1</h3>
<button class="btn btn-primary" @onclick="RunPart1">Calculate</button>
<p>Result: @Result1</p>

<h3>Part 2</h3>
<button class="btn btn-primary" @onclick="RunPart2">Calculate</button>
<p>Result: @Result2</p>

<h3>Banchmark</h3>
<button class="btn btn-primary" @onclick="RunBenchmark">Calculate</button>
<p>Parse (first): @ParseFirst.TotalMicroseconds us</p>
<p>Parse (average of 10 000): @ParseAverage.TotalMicroseconds us</p>
<p>Part 1 (first): @Part1First.TotalMicroseconds us</p>
<p>Part 1 (average of 10 000): @Part1Average.TotalMicroseconds us</p>
<p>Part 2 (first): @Part2First.TotalMicroseconds us</p>
<p>Part 2 (average of 10 000): @Part2Average.TotalMicroseconds us</p>


@code {
    private readonly Regex gameRegex = new Regex(@"Game (\d+): (.*)");
    private readonly Regex groupRegex = new Regex(@"(\d+) (red|green|blue)");
    private readonly Dictionary<string, int> maxGroups = new Dictionary<string, int>
    {
        { "red", 12 },
        { "green", 13 },
        { "blue", 14 },
    };

    protected override Game[] ParseInput()
    {
        return InputData.ParseLines(this.ParseLine).ToArray();
    }

    protected override long GetResult1(Game[] input)
    {
        return input
            .Where(game => game.Groups.All(group => group.Red <= 12 && group.Green <= 13 && group.Blue <= 14))
            .Sum(game => game.Id);
    }

    protected override long GetResult2(Game[] input)
    {
        return input
            .Select(game => (red: game.Groups.Max(g => g.Red), green: game.Groups.Max(g => g.Green), blue: game.Groups.Max(g => g.Blue)))
            .Select(x => x.red * x.green * x.blue)
            .Sum();
    }

    private Game ParseLine(string line)
    {
        var gameMatch = gameRegex.Match(line);
        var id = int.Parse(gameMatch.Groups[1].Value);

        var groupsLine = gameMatch.Groups[2].Value;
        var groups = new List<Group>();
        foreach (var split in groupsLine.Split(';'))
        {
            var groupMatches = groupRegex.Matches(split);
            var colors = groupMatches.ToDictionary(match => match.Groups[2].Value, match => int.Parse(match.Groups[1].Value));

            colors.TryGetValue("red", out var red);
            colors.TryGetValue("green", out var green);
            colors.TryGetValue("blue", out var blue);

            groups.Add(new Group(red, green, blue));
        }

        return new Game(id, groups);
    }

    public record struct Game(int Id, List<Group> Groups);
    public record struct Group(int Red, int Green, int Blue);
}
